@font-face {
    font-family: walpergens;
    src: url(../fonts/walpergens.ttf);
}

body{
  margin: 0;
  overflow: hidden;
}

#landing-container{
  position: absolute;
  background-image: url(../images/ghost3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: walpergens;
  height: 100vh;
  width: 100%;
  text-align: center;
  color: #fff;
  z-index: 9999;
}

.greeting{
  animation: noise-3 2s linear infinite;
  position: relative;
  top: 35%;

}
h1{
  user-select: none;
  font-size: 10vmin;
  margin: 0;
}
.landingbtn{
  display: inline-block;
  cursor: pointer;
  font-size: 2em;
  margin: 20px 1%;
  opacity: 0.7;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5%;

}
.open{
  display: none;
}

.landingbtn:hover{
  background-color: #4f6c5d;
}
.appear{
  background-color: transparent;
  border: none;
  display: inline-block;
  transition: 3s;
}
.appear:hover{
  background-color: transparent;
}
.ghostOut {
  animation: vanish 5s;
}

/**********MODAL FORM START********************/
.formLog, .formSign{
  display: none;
  position: absolute;
  justify-content: center;
  z-index: 50;
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  transition: 4s;
}
.form-group div {
  display: flex;
  flex-flow: column nowrap;
  margin: 10% auto;
  margin-top:5%;
  width: 50%;
}
.form-group div input{
    display: flex;
    flex-flow: column nowrap;
    height: 4vh;
    margin-bottom: 1%;
}
.form-group div input::placeholder{
  font-family: walpergens;
}

.sign div input:invalid{
    border: 2px solid rgba(255, 0, 0, 0.7);
}
#error{
    background-color: whitesmoke;
    margin: 2% auto;
    color:black;
    width: 50%;
    border-radius: 8px;
    display: none;
}
#error h4{
    margin: 10px auto;
}
#error ul{
    text-align: left;
    margin-top: 0;
    padding: 5px;
}
#error ul li{
    color: darkred;
    list-style-type: none;
}

.sign, .log{
    margin: auto;
    width: 30%;
    height: 30%;
    margin-top: 15%;
    font-family: walpergens;
}

button{
    font-family: walpergens;
    color: white;
    background: black;
    vertical-align: top;
    cursor: pointer;
    height: 11vmin;
    width: 25%;
    font-size: 100%;
    border: 2px white solid;
}

.hide{
    display: none;
}
/**********MODAL FORM END********************/


.fade-in {
  opacity: 0;
  animation: fadeIn .5s ease-in 1 forwards;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
  display: block;
}



.fade-out {
  opacity: 1;
  animation: fadeOut .5s ease-out 1 forwards;
  -webkit-transition: opacity 2s ease-out;
  -moz-transition: opacity 2s ease-out;
  -o-transition: opacity 2s ease-out;
  -ms-transition: opacity 2s ease-out;
  transition: opacity 2s ease-out;
}

.fade-out-transition {
  opacity: 1;
  animation: fadeOut 2s ease-out 1 forwards;
  -webkit-transition: opacity 2.5s ease-out;
  -moz-transition: opacity 2.5s ease-out;
  -o-transition: opacity 2.5s ease-out;
  -ms-transition: opacity 2.5s ease-out;
  transition: opacity 2.5s ease-out;
}


/**********KEY FRAMES START********************/

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes vanish {
    0% {
      opacity: 1;
      transform-origin: 50% 50%;
      transform: scale(1, 1);
      filter: blur(0px);
    }

    100% {
      opacity: 0;
      transform-origin: 50% 50%;
      transform: scale(2, 2);
      filter: blur(20px);
    }
}
@keyframes float {
  0% {
    transform: translate(30%, 50%);
  }
  25% {
    transform: translate(50%, 30%);
  }
  50% {
    transform: translate(60%, 20%);
  }
  75% {

  }
  100%{
    transform: translate(30%, 60%);
  }
}

@keyframes noise-1 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: -6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: 2px;}
}

@keyframes noise-2 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: 6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: -2px;}
}

@keyframes noise {
  0%, 3%, 5%, 42%, 44%, 100% {opacity: 1; transform: scaleY(1);}
  4.3% {opacity: 1; transform: scaleY(1.7);}
  43% {opacity: 1; transform: scaleX(1.5);}
}

@keyframes noise-3 {
  0%,3%,5%,42%,44%,100% {opacity: 1; transform: scaleY(1);}
  4.3% {opacity: 1; transform: scaleY(4);}
  43% {opacity: 1; transform: scaleX(10) rotate(60deg);}
}
/**********KEY FRAMES END**************/

/*******MOBILE STYLING  START**********/
@media only screen and (max-width: 770px) {
    #landing-container{
        background-position: center;
    }
    h1{
        font-size: 10vmin;
    }
    .landingbtn{
        font-size: 1.5em;
    }

    #error{
        width: 70%;
    }
    .sign, .log{
        width: 100%;
        margin-top: 25%;
    }
    .open{
        font-size: 5vmin;
    }

}


/*******MOBILE STYLING END**********/
