* {
    box-sizing: border-box;
}

@font-face {
   font-family: walpergens;
   src: url(../fonts/walpergens.ttf);
}

body {
    margin: auto;
    padding: 3%;
    font-family: walpergens, serif;
    overflow: hidden;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    font-size: 2.25em;
}

.title {
    font-size: 2em;
    margin-bottom: .5em;
    margin-top: .3em;
}

.image {
    width: 50%;
    height: 35%;
    border: 5px solid whitesmoke;
    border-radius: 2%;
}

section {
    height: 85%;
}

.arrow-right {
    filter: invert(100%);
    /* position: absolute;
    bottom: 2%;
    right: 5%; */
    transform: rotateZ(-20deg);
    float: right;
    margin-right: 5%;
}

.arrow-left {
    filter: invert(100%);
    float: left;
    margin-right: 5%;
    /* position: absolute;
    bottom: 2%;
    left: 5%; */
    -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1) rotateZ(-20deg);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.arrow-container {
    position: fixed;
    /* height: 150px; */
    /* transform: translateY(175%); */
    bottom: 0;
    height: 15%;
    width: 100%;
    /* padding: 10% */
}

.arrow-up {
    filter: invert(100%);
    display: block;
    margin: auto;
}

.button-container {
    height: 10vw;
    width: 95%;
    margin: 7% auto;
    display: flex;
    justify-content: space-between;
}

/* a {
    position: relative;
} */

button {
    position: relative;
    border: 5px solid whitesmoke;
    border-radius: 5%;
    background-color: rgba(235, 235, 235, .3);
    color: whitesmoke;
    font-size: 3.5vmin;
    font-family: walpergens, serif;
    font-weight: bold;
    letter-spacing: 1.15px;
    text-shadow: 1px 1px #252222;
    height: 5vh;
    width: 25vw;
    position: absolute;
    bottom: 2%;
    right: 5%;

}

button:hover {
    background-color: rgba(235, 235, 235, .7);
    color: #252222;
    text-shadow: none;
}

button a {
    text-decoration: none;
    color: whitesmoke;
}



/*************** swipe css ****************/

.page2, .page3, .page4, .page5 {
    display: none;
}

.show-img {
    display: inline-block;
}

.hide-img {
    display: none;
}
