body {
    background-color: #242f3e;
}

#container {
    margin: 0px 0px;
    width: 100vw;
    height: 100vh;
    border: none;
    position: absolute;
    left: 0%;
    top: 0%;
}

.output {
    display: block;
    font-size: 1.5rem;
    color: blue;
    text-align: center;
}

#map {
    height: 105vh;
    width: 105vw;
    border: none;
    position: absolute;
    top: 0%;
    left: -20px;
    background-color: #242f3e;
}

.concealer {
    height: 100vh;
    width: 100vw;
    border: none;
    position: absolute;
    top: 0%;
    left: 0%;
    overflow: hidden;
}

.refresh {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    height: 10vmin;
    width: 10vmin;
    color: yellow;
    border-radius: 100%;
    cursor: pointer;
}

.toplayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vmin;
    color: yellow;
    text-align: center;
    font-size: 2rem;
}

/**********LOADING MODAL START**************/
#loading-modal {
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: .9;
    position: relative;
    z-index: 100;
}

.load-modal-start-btn {
    height: 7%;
    width: 15%;
    border: 1px solid white;
    color: white;
    background-color: black;
    border-radius: 5%;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.load-modal-start-btn:focus {
    outline: 0;
}

.load-modal-start-btn:hover {
    background-color: rgba(255,255,255,0.6);
}

/**********LOADING MODAL END**************/