body {
    margin: 0;
    padding: 0;
    background-color: #130c02;
}

body * {
    box-sizing: border-box;
}

#loading{
  height: 100vh;
  width: 100vw;
  background: #3c3c3c;
  text-align: center;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
}

.loading-btn, #loading h2{
  font-family: demonsker;
  color: black;
  background: transparent;
  font-size: 21vmin;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 22%;
}
.loading-btn{
  overflow: hidden;
  white-space: nowrap;
  width: 52%;
  animation: appear 4s steps(60,end), pulse 1s linear infinite;
}

.raven {
    height: 55vh;
    width: 90vw;
    animation: noise-3 2s linear infinite;
    top: 10%;
    position: relative;
}

@keyframes noise-3 {
    0%,3%,5%,42%,44%,100% {opacity: 1; transform: scaleY(1);}
    4.3% {opacity: 1; transform: scaleY(4);}
    43% {opacity: 1; transform: scaleX(10) rotate(60deg);}
}


/*#loading h2{*/
  /*animation: pulse 1s linear infinite;*/
/*}*/

.hide{
  display: none;
}


.topGauge {
    width: 90vmin;
    height: 41.85vmin;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('../images/esr-meter/meter-top.png');
    background-size: contain;
}

.bottomGauge {
    width: 100%;
    height: 41.85vmin;
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('../images/esr-meter/meter-bottom.png');
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}

.needleGauge {
    background-color: red;
    height: 100%;
    width: 0.45%;
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%) rotateZ(-75deg); /* +50 is max */
    transform-origin: bottom;
    box-shadow: -1vmin 1vmin 3vmin black;
    transition-duration: 0.5s;
}

.needleBall {
    background-color: red;
    height: 2.5vmin;
    width: 2.5vmin;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100%;
}

.range-indicator{
  position: absolute;
  color: white;
  font-size: 2vmin;
  text-transform: uppercase;
}
.knob-light{
  border-radius: 100%;
  background-color: grey;
  position: absolute;
  left: 44%;
  height: 3vmin;
  width: 3vmin;
}
.selected {
  background-color: red;
}

.range-indicator.close{
  transform: rotate(90deg);
  top: 48%;
  right: -5%;
}

.range-indicator.mid{
  left: 37%;
}


.range-indicator.long{
  transform: rotate(-90deg);
  top: 50%;
  left: -5%;
}

.long-range-knob{
  transform: rotateZ(-90deg);
}

.close-range-knob{
  transform: rotateZ(90deg);
}


.lightingGauge {
    width: 98%;
    height: 105%;
    position: absolute;
    bottom: -25%;
    left: 1%;
    display: inline-block;
    background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(227,227,82,0.1));
    animation-name: lighting;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition-duration: 0.3s;
}



#switch {
    width: 16.41vmin; /* 0.547 of height */
    height: 30vmin;
    background-image: url('../images/esr-meter/switch.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%) rotateY(0deg);
    filter: brightness(200%);
}

.flipped {
    transform: translateX(-50%) rotateX(180deg) !important;
}

#knob {
    width: 50vmin;
    height: 50vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-size: contain;
    background-repeat: no-repeat;
    filter: brightness(80%);
}

#knobImg{
  transition: 0.5s;
  position: relative;
  top: 30%;
  height: 50%;
  width: 50%;
  background-image: url("../images/esr-meter/meter-knob.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition-duration: 0.5s;
  margin: 0 auto;
}

#indicator {
    width: 15vmin;
    height: 15vmin;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%,-50%) rotateZ(180deg);
    background-image: url('../images/esr-meter/indicator.png');
    background-size: contain;
    background-repeat: no-repeat;
    filter: brightness(100%);
}

#indicator-light{
    width: 7vmin;
    height: 7vmin;
    position: absolute;
    top: 21%;
    left: 18%;
    background-color: rgba(255,0,0,0.6);
    border-radius: 100%;
    display: none;
    box-shadow: 0 0 0px orange;
}

.indicator-glow {
    animation-name: glow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition-duration: 0.5s;
}


.action-container {
    width: 34vmin;
    height: 56vmin;
    top: 55%;
    right: 6%;
}

.knob-container {
    width: 51vmin;
    height: 56vmin;
    top: 55%;
    left: 6%;
}

.beige-border {
    border: 1vmin ridge #d1c98c;
    border-radius: 10%;
    position: absolute;
    text-align: center;

}

.text-tape {
    background-image: url('../images/esr-meter/text-tape.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    bottom: 1vmin;
    left: 2.5%;
    width: 95%;
    height: 10%;
}

.test-output {
    font-size: 10vmin;
    color: white;
}

.fade-out {
  opacity: 1;
  animation: fadeOut .5s ease-out 1 forwards;
  -webkit-transition: opacity 2s ease-out;
  -moz-transition: opacity 2s ease-out;
  -o-transition: opacity 2s ease-out;
  -ms-transition: opacity 2s ease-out;
  transition: opacity 2s ease-out;
}

.fade-out-transition {
  opacity: 1;
  animation: fadeOut 2s ease-out 1 forwards;
  -webkit-transition: opacity 2.5s ease-out;
  -moz-transition: opacity 2.5s ease-out;
  -o-transition: opacity 2.5s ease-out;
  -ms-transition: opacity 2.5s ease-out;
  transition: opacity 2.5s ease-out;
}

/**********KEY FRAMES / FONT FACE START********************/

@keyframes lighting {
    0% {background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(227,227,82,0.1));}
    10% {background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(227,227,82,0.2));}
    20% {background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(227,227,82,0.4));}
    30% {background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(227,227,82,0.5));}
    40% {background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(227,227,82,0.6));}
    50% {background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(227,227,82,0.7));}
    60% {background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(227,227,82,0.6));}
    70% {background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(227,227,82,0.5));}
    80% {background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(227,227,82,0.4));}
    90% {background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(227,227,82,0.2));}
}

@keyframes glow {
    0% {box-shadow: 0px 0px 0px orange;}
    50% {box-shadow: 1px 1px 20px orange;}
    /* 99% {box-shadow: 0 0 0px orange;} */
}

@keyframes appear {
  from {width: 0; opacity: 0;}
}
@keyframes pulse {
	0% { transform: scale(1); }
	30% { transform: scale(1); }
	40% { transform: scale(1.08); }
	50% { transform: scale(1); }
	60% { transform: scale(1); }
	70% { transform: scale(1.05); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}


@font-face {
  font-family: victorious;
  src: url(../fonts/victorious.ttf);
}

@font-face {
  font-family: demonsker;
  src: url(../fonts/demonsker.ttf)
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

/**********KEY FRAMES/ FONT FACE  END********************/
