body{
  margin: 0;
  background-color: black;
  font-family: de-walpergens-pica;
  background-image: url(../images/profile/profilebg.jpg);
  background-size: 110%;
  background-repeat: no-repeat;


}

#user-container{
    position: relative;
}


nav ul{
  text-align: center;
  padding-right: 3%;
  display: flex;
  justify-content: space-around;

}

nav ul li {
  display: inline-block;
  color: white;
  list-style-type: none;
  cursor: pointer;
  text-transform: uppercase;
}
/******LOG OUT*************************/
.logOut-container{
  position: absolute;
  z-index: 5;
  color: white;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  height: 100%;
}

.logOut{
  position: relative;
  margin: 50% auto;
  text-align: center;
}

.logOut button{
  background-color: black;
  color: white;
  border: 1.5px solid white;
  pointer: cursor;
}
.logOut button:hover{
  background-color: white
  color: black;
  border: black;
}

/******LOG OUT*************************/
/****************PROFILE MENU START*******/
.profile-container, .story-container{
  color: white;
  /* background-color: black; */
  margin: auto;
  width: 90%;
  text-align: center;
  padding: 3% 0;
}

.profile-container >h1{
  margin: 2% 0 2% 0;
}

.photo-container{
  position: relative;
  width: 27vmin;
  height: 27vmin;
  margin: auto;
  padding: 1.5% .5%;
}

.photo-container img{
  border-radius: 50%;
  border: 5px solid white;
  width: 92%;
  display: block;
}

.photo-container::before{
  background-image: url(../images/profile/edittext.png);
  background-size: cover;
  display: inline-block;
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  bottom: 0%;
  right: 5%;
  border-radius: 50%;
  border: 1px solid white;
}

.profile-data{
  margin-top: 8%;
  text-align: left;
  padding-left: 5%;
  line-height: 2em;
}

.profile-data p:nth-child(2)::before{
  background-image: url(../images/profile/edittext.png);
  background-size: cover;
  display: inline-block;
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  bottom: 5%;
  right: 5%;
  border-radius: 50%;
  border: 1px solid white;
}

a, .profile-details{
  margin-right: 2%;
  text-decoration: none;
  color: red;
}

.account-settings{
  margin: 2% 2%;
  display: flex;
  flex-direction: column;
}

.account-settings input{
  width: 60% ;
  margin: 2% 0;
}

.button-holder{
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.submit, .cancel{
  width: 45%;
  background-color: black;
  color: white;
}

h3,p{
  margin: 0;
  position: relative;
}

.story-container{
    margin: 3% auto;
    border: 1px dotted white;
    background-color: rgba(0,0,0,0.5);
}
.story-list{
    padding: 0;

}
.story-list li{
    list-style-type: none;
    line-height: 1.5em;
}

.ghost{
    position: absolute;
    display: inline-block;
    height: 30%;
    opacity: 0;
    bottom: -10%;
    transition: 1s;
    animation: spook 8s linear infinite;
}
.ghost img{
    height: 100%;
}

/**********PROFILE END************************/
.hide{
  display: none;
}

.slideDown{
  display: block;
  animation: slideDown;
}
/************KEY FRAMES*************************/

@keyframes slideDown {
  0%{ top: -200%}
  100%{top: 0}
}

@keyframes spook {
    0{opacity: 0}20%{opacity: 0.4}30%{opacity: 0} 72%{opacity: 0}80%{opacity: .7}98%{opacity: 0};

}


/***********KEY FRAMES END***********************/


/*******MOBILE STYLING  START**********/
@media only screen and (max-width: 770px) {

body{
    background-image: url(../images/profile/profilebgmobile.jpg);
    background-size: 110%;
    background-repeat: no-repeat;
}


}

/*********MEDIA QUERY***************************/

@font-face {
    font-family: de-walpergens-pica;
    src: url(../fonts/im-fell-dw-pica.cs.ttf);
}
