body{
  margin: 0;
}


@keyframes slideDown {
  0%{ top: -200%}
  100%{top: 0}
}
nav ul{
  text-align: center;
  padding-right: 3%;
  display: flex;
  justify-content: space-around;

}

nav ul li {
  display: inline-block;
  color: white;
  list-style-type: none;
  pointer: cursor;
}
/******LOG OUT*************************/
.logOut-container{
  position: absolute;
  z-index: 5;
  color: white;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  height: 100%;
}

.logOut{
  position: relative;
  margin: 50% auto;
  text-align: center;
}

.logOut button{
  background-color: black;
  color: white;
  border: 1.5px solid white;
  pointer: cursor;
}
.logOut button:hover{
  background-color: white
  color: black;
  border: black;
}

/******LOG OUT*************************/
/****************PROFILE MENU START*******/
.profile-container{
  color: white;
  position: absolute;
  z-index: 2;
  background-color: black;
  width: 100%;
  height: 95%;
}
.profile-container div:nth-child(1){
  background: white;
  border-radius: 50%;
  width: 27vmin;
  height: 27vmin;
  margin: auto;
  padding: 1.5% .5%;
}

.profile-photo{
  border-radius: 50%;
  width: 92%;
}

.profile-data{
  margin-top: 10%;
  text-align: left;
  padding-left: 5%;
  line-height: 2em;
}

a, .profile-details{
  margin-right: 2%;
  text-decoration: none;
  color: red;
}

.account-settings{
  margin: 2% 2%;
  display: flex;
  flex-direction: column;
}

.account-settings input{
  width: 60% ;
  margin: 2% 0;
}
.edit{
  border: 1px solid white;
  margin-right: 5%;
  float: right;
  clear: both;
  font-size: 10px;
  padding: 0 10px;
}

.edit:hover, .edit:active{
  border-color: black;
  color: black;
  background-color: white;
}
.button-holder{
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.submit, .cancel{
  width: 45%;
  background-color: black;
  color: white;
}





/****************PROFILE MENU END*******/
.instruction{
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  height: 100%;
  width: 100%;
  z-index: 50;
}
.instruction>div{
  position: absolute;
  color: white;
  font-size: 5vmin;
  animation: float 5s infinite;
}
.instruction div div span{
  cursor: pointer;
}
.instruction div div span:hover{
  color: grey;
}

#user-container{
  position: absolute;
  background: black;
  font-family: de-walpergens-pica, serif;
  height: 100vh;
  width: 100%;
  text-align: center;

}
.list-container{
  margin-top: 15%;
  padding:0 10%;
}
.story-list{
  color: white;
  list-style-type: none;
  border: 1px solid white;
}
.caption{
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  position: relative;
  height: 96%;
  transition: 1s;
}
.caption h3{
  font-size: 5vmin;
}
.caption p{
  height: 90%;
  font-size: 1.5em;
  font-family: Arial;
}


.experience{
  position: absolute;
  left: 5%;
  width: 90%;
  height: 10%;
  bottom: 2%;
  border: 1px solid white;
  padding: 3px;
  color: white;
  font-size: 3vmin;
  cursor: pointer;
  background-color: transparent;
  border-radius: 5%;
  text-align: center;
}

.experience:hover{
  color: black;
  background: white;
}

.experience:focus {
  outline: 0;
}

.story{
  margin: 0;
  height: 70vh;
  width: 100%;
  display: none;
  float: left;
  border: 5px solid black;
  box-sizing: border-box;
  color: white;
  transition: 1s;
  transform-style: preserve-3d;
}

h3,p{
  margin: 0;
}
.board1{
  background-image: url(../images/cover3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.board2{
  background-image: url(../images/cover4.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.board3{
  background-image: url(../images/cover1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.board4{
  background-image: url(../images/cover2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/**********PROFILE END************************/
.hide{
  display: none;
}

.slideDown{
  display: block;
  animation: slideDown;
}

/*******MOBILE STYLING  START**********/
@media only screen and (max-width: 770px) {
    .story{
      text-align: left;
      height: 70vh;
      width: 100%;
      border: 0;
      color: white;
    }
    .caption p{
      font-size: 80%;
    }
    .board1{
      background-image: url(../images/cover3.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
    .board2{
      background-image: url(../images/cover4.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left;
    }
    .board3{
      background-image: url(../images/cover1.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
    .board4{
      background-image: url(../images/cover2.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }


}

/*********MEDIA QUERY***************************/
