@font-face {
    font-family: walpergens;
    src: url(../fonts/walpergens.ttf);
}

body{
    height:  100vh;
    margin: 0;
    background-color: black;
    font-family: walpergens;
    background-image: url(../images/profile/profilebg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

#user-container{
    height: 100%;
    position: relative;
}


nav ul{
    padding: 0 2%;
    text-align: center;
    margin: 3% 0 5% 0;
}

nav ul li {
    margin: 0 5%;
    font-size: 2em;
    display: inline-block;
    color: white;
    list-style-type: none;
    cursor: pointer;
    text-transform: uppercase;
}

nav ul li:hover{
    animation: noise-3 1s infinite;
}

nav ul li::after{
    content: "|";
    font-size: 1.5em;
    margin-left: 0.5em;
    color: white;
}

nav ul li::before{
    content: "|";
    font-size: 1.5em;
    margin-right: 0.5em;
    color: white;
}

.button-container {
    display: none;
    height: 10vw;
    width: 95%;
    margin: 5% auto;
    justify-content: space-between;
}

a {
    position: relative;
}

button {
    position: relative;
    border: 2px solid whitesmoke;
    border-radius: 5%;
    background-color: rgba(235, 235, 235, .3);
    color: whitesmoke;
    font-size: 3.5vmin;
    font-family: walpergens;
    font-weight: bold;
    letter-spacing: 1.10px;
    text-shadow: 1px 1px #252222;
    /*z-index: 1000;*/
}

button:hover {
    background-color: rgba(235, 235, 235, .7);
    color: #252222;
    text-shadow: none;
}

.nav-btn {
    height: 100%;
    width: 28vw;
}

/******LOG OUT*************************/
.logOut-container, .modal{
    position: absolute;
    z-index: 5;
    color: white;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    height: 100%;
}

.logOut, .modal-content{
    position: relative;
    margin: 20% auto;
    text-align: center;
}
.logOut h2{
    font-size: 3em;
}

.logOut button{
    font-family: walpergens;
    font-size: 50px;
    background-color: black;
    border: 1px solid whitesmoke;
    color: white;
    border: 1.5px solid white;
    cursor: pointer;
    width: 25vw;
    height: 50px;
    margin: 1%;
}

.logOut button:hover,.logOut button a:hover{
    background-color: white;
    border: 1.5px solid black;
    color: black;
    border: black;
}

/******LOG OUT*************************/
/****************PROFILE MENU START*******/
.profile-container{
    color: white;
    margin: auto;
    width: 90%;
    text-align: center;
}

.profile-container >h1{
    font-size: 2.5em;
    margin: 2% 0 2% 0;
    text-shadow: 5px 5px 2px black;
}

.photo-container{
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: auto;
    width: 33vmin;
    height: 38vmin;
    padding: 1.5% .5%;
}

.polaroid, .profile-photo{
    position: absolute;
    width: 90%;
    display: block;
}


.profile-photo{
    width: 70%;
    top: 10.5%;
    left: 10%;
    transform: rotateZ(-5deg);
    box-shadow: 21px 56px 19px 24px #00000094;
}

.edit-photo{
    background-image: url(../images/profile/editicon.png);
    background-size: cover;
    display: inline-block;
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    bottom: 29%;
    right: 12%;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
}

.edit-photo:hover{
    filter: invert(100%);
}

.profile-data{
    margin: auto;
    text-align: left;
    display: inline-block;
    vertical-align: bottom;
    font-size: 2em;
    width: 60%;
    padding: 2%;
    line-height: 2em;
    /* background: rgba(0,0,0,0.5); */
    border-radius: 10px;
}

.profile-label, .user-details{
    margin: 0;
}

.profile-label{
    color: #62a3be;
}

.user-details{
    margin-left: 4%;
}

.edit-text{
    cursor: pointer;
    background-image: url(../images/profile/edittext.png);
    background-size: cover;
    display: inline-block;
    position: relative;
    position: relative;
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    margin-left: 2%;
    bottom: -6px;
}

.edit-text:hover{
    filter: invert(100%);
}

/* .profile-details{
    font-weight: bolder;
    margin-right: 2%;
    text-decoration: none;
    color: #62a3be;
} */

.email-container input{
    height: 25px;
    width: 50%;
    display: inline-block;
    border-radius: 5px;
    margin-right: 2%;
}

.email-container button{
    cursor: pointer;
    font-family: walpergens;
    background: transparent;
    margin-right: 1%;
    color: white;
    height: 45px;
    font-size: 1em;
    border-radius: 10px;
}

.email-container button:hover{
    background-color: black;
    color: white;
}

.email-container input:invalid{
    border: 2px solid rgba(255, 0, 0, 0.7);
}

.button-holder{
    width: 60%;
    display: flex;
    justify-content: space-between;
}


p{
    margin: 0;
    position: relative;
}

.story-container-inside{
    width: 100%;
    text-align: center;
    margin-top: 5%;
}

.story-container-inside h3{
    margin: 0;
    border-bottom: 1px dotted white;
    border-top: 1px dotted white;
}
.story-list{
    padding: 0;

}
.story-list li{
    list-style-type: none;
    cursor: pointer;
    font-size: 1.3em;
}
a{
    text-decoration: none;
    color: white;
}

.story-list li:hover{
    animation: noise-3 1s infinite;
}

.ghost{
    position: absolute;
    display: inline-block;
    height: 30%;
    opacity: 0;
    bottom: -10%;
    transition: 1s;
    animation: spook 8s linear infinite;
}
.ghost img{
    height: 100%;
}

/***************MODAL***************************/
.modal-content h2{
    animation: pulse 2s infinite;
    font-size: 3em;
}


@keyframes pulse {
	0% { transform: scale(1); }
	30% { transform: scale(1); }
	40% { transform: scale(1.08); }
	50% { transform: scale(1); }
	60% { transform: scale(1); }
	70% { transform: scale(1.05); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}


/**********************************************/

/**********PROFILE END************************/
.hide{
    display: none;
}

.slideDown{
    display: block;
    animation: slideDown;
}
/************KEY FRAMES*************************/

@keyframes slideDown {
    0%{ top: -200%}
    100%{top: 0}
}

@keyframes spook {
    0{opacity: 0}20%{opacity: 0.4}30%{opacity: 0} 72%{opacity: 0}80%{opacity: .7}98%{opacity: 0};

}

@keyframes noise-3 {
    0%, 3%, 5%, 42%, 44%, 100% {opacity: 1; transform: scaleY(1);}
    4.3% {opacity: 1; transform: scaleY(1.7);}
    43% {opacity: 1; transform: scaleX(1.5);}
}


/***********KEY FRAMES END***********************/


/*******MOBILE STYLING  START**********/
@media only screen and (max-width: 770px) {

    body{
        width: 100vw;
        height: 100vh;
        background-image: url(../images/profile/profilebgmobile.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    nav{
        display: none;
    }

    .button-container{
        display: flex;
    }

    .logOut, .modal-content{
        margin-top: 50%;
    }

    .logOut button{
        font-size: 30px;
    }

    .modal-content h2{
        font-size: 2em;
    }

    .photo-container{
        height: 36vmin;
        width: 36vmin;
    }

    .profile-data{
        width: 80%;
        margin: 8%;
        font-size: 1.2em;
    }

    .profile-label{
        text-align: center;
    }

    .user-details{
        text-align: center;
    }

    .story-container-inside{
        margin-top: 10%;
    }

    .profile-photo{
        box-shadow: 10px 19px 14px 11px black;
    }

    .user-details{
        margin: auto;
        width: 90%;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .edit-photo{
        width: 25px;
        height: 25px;
        bottom: 20%;
        right: 12%;
    }
    .edit-text{
        margin-left: 7%;
        width: 25px;
        height: 25px;
        right: 5%;
    }
    .email-container input{
        width: 90%;
        margin-left: 4%;
    }

    .email-container button{
        margin: 5px 5%;
        display: inline-block;
        width: 40%;
    }

}

/*********MEDIA QUERY***************************/
