* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: de-walpergens-pica, serif;
    color: white;
    background-color: black;
    background-image: url('../images/story/background_dark.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    letter-spacing: 1.15px;
}

#container {
    text-align: center;
}

/******** nav bar ******************/

.title {
    text-align: center;
    font-size: 8vmin;
    display: inline-block;
    margin: 0 0 5% 0;
}

.button-container {
    height: 10vw;
    width: 95%;
    margin: 7% auto;
    display: flex;
    justify-content: space-between;
}

a {
    position: relative;
}

button {
    position: relative;
    border: 2px solid whitesmoke;
    border-radius: 5%;
    background-color: rgba(235, 235, 235, .3);
    color: whitesmoke;
    font-size: 3.5vmin;
    font-family: de-walpergens-pica, serif;
    font-weight: bold;
    letter-spacing: 1.10px;
    text-shadow: 1px 1px #252222;
    /*z-index: 1000;*/
}

button:hover {
    background-color: rgba(235, 235, 235, .7);
    color: #252222;
    text-shadow: none;
}

.nav-btn {
    height: 100%;
    width: 28vw;
    z-index: 300;
}

/*********** Nav End  ************/

.img-container {
    width: 45%;
    margin: auto;
}

.story-img {
    width:100%;
    height: 100%;
    border: 1px solid whitesmoke;
    border-radius: 2%;
}

.go-link {
    margin-top: 5%;
    display: block;
    height: 6vh;
}

.go-btn {
    position: relative;
    height: 100%;
    width: 20vw;
    background-color: rgba(83, 80, 76, 0.8);
    text-shadow: none;
    font-size: 4.5vmin;
    color: white;
}

.go-btn:hover {
    border-color: whitesmoke;
    background-color: rgba(34, 32, 29, 0.8);
    color: white;
}

.about {
    margin: 5% 7%;
}

.time {
    border-bottom: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
    margin: auto;
    width: 80%;
    padding: 5% 0;
}

.chapters-list {
    padding: 0 20%;
    list-style-type: upper-roman;
    margin-bottom: 10%;
}

.chapter-complete {
    text-decoration: line-through;
}


#map {
    height: 250px;
    width: 250px;
    margin: 5% auto;
    border: 1px solid whitesmoke;
    border-radius: 1%;
}
