body{
  margin: 0;
  overflow: hidden;
}
button{
  cursor: pointer;
}
#landing-container{
  position: absolute;
  background-image: url(../images/ghost3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: de-walpergens-pica, serif;
  height: 100vh;
  width: 100%;
  text-align: center;
  color: #fff;
  z-index: 9999;
}

.greeting{
  animation: noise-3 2s linear infinite;
  position: relative;
  top: 45%;

}
h1{
  user-select: none;
  font-size: 10vmin;
  margin: 0;
}
.landingbtn{
  display: inline-block;
  margin: 20px 1%;
  opacity: 0.7;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5%;
  cursor: pointer;
}
.open{
  display: none
}
.landingbtn:hover{
  background-color: #4f6c5d;
}

.ghostOut {
  animation: vanish 5s;
}

/**********MODAL FORM START********************/
.formLog, .formSign{
  display: none;
  position: absolute;
  justify-content: center;
  z-index: 50;
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  transition: 4s;
}
.sign, .log{
  margin: auto;
  width: 30%;
  height: 30%;
  margin-top: 15%;
  font-family: de-walpergens-pica, serif;
}

/**********MODAL FORM END********************/

/**********STORY START********************/
.instruction{
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  height: 100%;
  width: 100%;
  z-index: 50;
}
.instruction>div{
  position: absolute;
  color: white;
  font-size: 5vmin;
  animation: float 5s infinite;
}
.instruction div div span{
  cursor: pointer;
}
.instruction div div span:hover{
  color: grey;
}
#story-container{
  background-image: url(../images/ghost.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  background: black;
  font-family: de-walpergens-pica, serif;
  height: 100vh;
  width: 100%;
  text-align: center;

}
.caption{
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  position: relative;
  display: none;
  height: 100%;
}
.caption h3{
  font-size: 5vmin;
}
.caption p{
  height: 90%;
  font-size: 1.5em;
  font-family: Arial;
}
.experience{
  position: absolute;
  left: 5%;
  width: 90%;
  height: 10%;
  bottom: 2%;
  border: 1px solid white;
  padding: 3px;
  color: white;
  font-size: 3vmin;
  cursor: pointer;
  background-color: transparent;
  border-radius: 5%;
  text-align: center;
}

.experience:hover{
  color: black;
  background: white;
}

.experience:focus {
  outline: 0;
}

.story{
  margin: 0;
  height: 100%;
  width: 25%;
  float: left;
  border: 5px solid black;
  box-sizing: border-box;
  color: white;
  transition: 1s;
  transform-style: preserve-3d;
}
h3,p{
  margin: 0;
}
.board1{
  background-image: url(../images/cover3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.board2{
  background-image: url(../images/cover4.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.board3{
  background-image: url(../images/cover1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.board4{
  background-image: url(../images/cover2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}



/**********STORY START********************/
/**********KEY FRAMES START********************/

@keyframes vanish {
    0% {
      opacity: 1;
      transform-origin: 50% 50%;
      transform: scale(1, 1);
      filter: blur(0px);
    }

    100% {
      opacity: 0;
      transform-origin: 50% 50%;
      transform: scale(2, 2);
      filter: blur(20px);
    }
}
@keyframes float {
  0% {
    transform: translate(30%, 50%);
  }
  25% {
    transform: translate(50%, 30%);
  }
  50% {
    transform: translate(60%, 20%);
  }
  75% {

  }
  100%{
    transform: translate(30%, 60%);
  }
}

@keyframes noise-1 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: -6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: 2px;}
}

@keyframes noise-2 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: 6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: -2px;}
}

@keyframes noise {
  0%, 3%, 5%, 42%, 44%, 100% {opacity: 1; transform: scaleY(1);}
  4.3% {opacity: 1; transform: scaleY(1.7);}
  43% {opacity: 1; transform: scaleX(1.5);}
}

@keyframes noise-3 {
  0%,3%,5%,42%,44%,100% {opacity: 1; transform: scaleY(1);}
  4.3% {opacity: 1; transform: scaleY(4);}
  43% {opacity: 1; transform: scaleX(10) rotate(60deg);}
}
/**********KEY FRAMES END**************/

/*******MOBILE STYLING  START**********/
@media only screen and (max-width: 770px) {
    #landing-container{
      background-position: center;
    }
    h1{
      font-size: 10vmin;
    }
    .sign, .log{
      width: 60%;
    }
    .open{
      font-size: 5vmin;
    }
    .story{
      display: inline-block;
      text-align: left;
      height: 48%;
      width: 48%;
      border: 0;
      color: white;
      margin: 1%;
    }
    .caption p{
      font-size: 10px;
    }
    .board1{
      background-image: url(../images/cover3.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
    .board2{
      background-image: url(../images/cover4.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
    .board3{
      background-image: url(../images/cover1.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
    .board4{
      background-image: url(../images/cover2.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }


}


/*******MOBILE STYLING END**********/
