html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        script(src="assets/js/profile.js" type="text/javascript")
        link(rel="stylesheet" href="assets/css/fog.css" type="text/css")
        link(rel="stylesheet" href="assets/css/profile.css" type="text/css")
        title #{userdata[0].user_name}'s Profile

    body
        #user-container
            .fogwrapper
                #foglayer_01.fog
                    .image01
                    .image02
                #foglayer_02.fog
                    .image01m
                    .image02
                #foglayer_03.fog
                    .image01
                    .image02
            .modal.hide
                .modal-content
                    h2 Confirming Request...
            .logOut-container.hide
                .logOut
                    h2 Confirm Log Out
                    button
                        a(href="/logout") Yes
                    button.no No
            nav
                ul
                    li.to-instructions 
                        a(href="/instructions") Profile
                    li.to-library 
                        a(href="/library") Stories
                    li.log-out Log Out
            .button-container
                a(href="/instructions")
                    button.nav-btn Instructions
                a(href="/library")
                    button.nav-btn Library
                button.nav-btn.log-out Log Out
            .profile-container
                h1 USER PROFILE
                .photo-container
                    img#profile-photo.profile-photo(src="assets/images/profile/xray" + (Math.floor(Math.random() * 3) + 1) + ".jpg")
                    img.polaroid(src="assets/images/profile/polaroid.png")
                    img.edit-photo(src="assets/images/profile/editicon.png")
                .profile-data
                    p
                        span.profile-details Username:
                        span.user-details-name= userdata[0].user_name
                    p.email
                        span.profile-details E-Mail:
                        span.user-details-email= userdata[0].email
                        img.edit-text(src="assets/images/profile/edittext.png")
                    .story-container-Inside
                        h3 CURRENT STORIES 
                        .story-list 
                            if storydata[0]
                                each item in storydata
                                    li 
                                        a(href="/story/id/" + item.story_id)= item.name
