html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="stylesheet" href="assets/css/story.css")
        title Story
    body
        section#container
            .button-container
                a(href="/profile")
                    button.nav-btn Profile
                a(href="/library")
                    button.nav-btn Library
                a(href="/logout")
                    button.nav-btn Log Out
            h1.title Prologue
            .img-container
                img.story-img(src="assets/images/library/stairs.jpg")
            a.go-link
                button.go-btn Go!
            .about
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto debitis dolorum eos inventore nulla officia omnis quod reiciendis similique veniam?
            p.time Estimated time: 0:30:00
                h2 Chapters
                
                /* <!-- create with loop based on # chapters in story --> */
                
                ol.chapters-list
                    li.chapter Lorem ipsum dolor sit amet
                    li.chapter Lorem ipsum dolor
                    li.chapter Lorem dolor sit amet, tetur.
                    li.chapter Lorem ipsum dolor sit amet.
            #map
            p.starting-point Starting Point:
            p.address 9200 Irvine Center Dr., Irvine, CA 92618

            
        script(src="assets/js/story.js")
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXqyuEI8wFxFvczjGjlbim35FAuco0oCU&callback=initMap")
